@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #171926;
    --second-bg-color: #444557;
    --text-color: white;
    --hover-color: #D6E96C;
    --big-font: 2.5rem;
    --norma-font: 2rem;
    --mobile-font: 1rem;
    --neon-color: #D6E96C;
    --neon-box-shadow: 0 0 .5rem #D6E96C;
    --h2-font: 3rem;
    --link-active-text-shadow: 0 0 10px rgba(214, 233, .6),
        0 0 20px rgba(214, 233, .6),
        0 0 30px rgba(214, 233, .6),
        0 0 40px rgba(214, 233, .6),
        0 0 70px rgba(214, 233, .6),
        0 0 80px rgba(214, 233, .6),
        0 0 100px rgba(214, 233, .6),
        0 0 150px rgba(214, 233, .6);
    --font-neon-text-shadow: 0 0 10px rgba(214, 233, .3),
        0 0 20px rgba(214, 233, .3),
        0 0 30px rgba(214, 233, .3),
        0 0 40px rgba(214, 233, .3),
        0 0 50px rgba(214, 233, .3),
        0 0 60px rgba(214, 233, .3),
        0 0 70px rgba(214, 233, .3),
        0 0 80px rgba(214, 233, .3),
        0 0 90px rgba(214, 233, .3),
        0 0 100px rgba(214, 233, .3);

}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20%;
    z-index: 1000;
    transition: top 0.3s ease;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

nav a:hover {
    color: var(--neon-color);
    text-shadow: var(--link-active-text-shadow)
}

.logo a {
    padding-left: 0;
    font-size: large;
}

.logo a:hover {
    color: var(--text-color);
    text-shadow: none;
}

nav li:first-child {
    margin-right: auto;

}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}






.bx {
    font-size: 24px;
    cursor: pointer;
}

#menu-icon {
    font-size: 1.8rem;
    z-index: 10001;
    background-color: var(--hover-color);
    border-radius: 3px;
    color: var(--second-bg-color);
    cursor: pointer;
    display: none;
}



section {
    padding: 0 20%;
    width: 100%;
    min-height: 100vh;
}

/* home section */

.mobile-img {
    display: none;

}
.mobile-img img{
    width: 270px;
    height: 350px;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.change-text span {
    color: var(--neon-color);
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3 {
    display: inline-block;
    margin: 0;
    vertical-align: top;


}

.word {
    position: absolute;
    /* makes words stack on top of each other */
    opacity: 0;
    text-transform: uppercase;
}

.wisteria {
    color: var(--neon-color)
}

.belize {
    color: var(--neon-color)
}

.letter {
    display: inline-block;
    transform-origin: 50% 50% 25px;
}


.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.letter.behind {
    transform: rotateX(-90deg);
}


.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home-content p {
    font-size: 1rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;

    width: 100%;
    height: 5rem;

}

.btn {
    display: inline-flex;
    justify-content: center;
    margin-right: 1rem;
    align-items: center;
    width: 8rem;
    height: 3rem;
    background: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn:hover {
    color: var(--hover-color)
}



.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;


}

.btn:hover::before {
    width: 100%;
}

.btn:nth-child(2) {
    background: transparent;
    color: var(--neon-color);
    border: 2px solid var(--neon-color);
}

.btn:nth-child(2)::before {
    background: var(--hover-color);
}

.btn:nth-child(2):hover {
    color: var(--bg-color);
    transition: .4s;
}

.btn:nth-child(2):hover::before {
    color: var(--bg-color);
    background: var(--hover-color);

    transition: .4s;
}

.home-sci {
    position: absolute;

    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
}

.home-sci a:hover {
    color: var(--bg-color);
    background: var(--neon-color);
    box-shadow: var(--neon-box-shadow);
    border-radius: 50%;
    transition: .7s;
}

.home-image {
    position: relative;
}

.img-box {
    text-align: center;

}
.img-box img{
    width: 320px;
    height: 440px;
}


/* about section */
.about {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    justify-content: center;
    text-align: center;
}

.center-img {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Center align text */
    position: relative;


}

.heading-about {
    margin-bottom: 3rem;

    h1 {
        font-size: 1.5rem;

    }
}

.center-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;

    background-color: var(--neon-color);
    margin-bottom: 3rem;
    box-shadow: var(--neon-box-shadow);
}

.center-img p {
    font-weight: 500;
}

.btn-cv {
    margin-top: 2rem;
}



/* skill sections */

.main-text {
    text-align: center;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 3rem;

    span {
        color: var(--text-color);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    h2 {
        color: var(--neon-color);
        font-size: 2rem;
        font-weight: 700;
    }
}

.skills {
    background: var(--second-bg-color);
}

.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    margin-bottom: 100px;

    h3 {
        margin-bottom: 2rem;
        font-size: var(--norma-font);
        text-align: center;
    }
}


.skill-container {
    width: 100%;
    background-color: var(--bg-color);
    border: 2px solid var(--bg-color);
    border-radius: 10px;
}

.skills-bar {
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: var(--neon-box-shadow);
    border-radius: 10px;
}

.html {
    width: 85%;
    background-color: var(--neon-color);
    animation: html 2s;
}

.css {
    width: 70%;
    background-color: var(--neon-color);
    animation: css 3s;
}

.php {
    width: 65%;
    background-color: var(--neon-color);
    animation: php 3s;
}

.javascript {
    width: 40%;
    background-color: var(--neon-color);
    animation: javascript 3s;
}

.java {
    width: 80%;
    background-color: var(--neon-color);
    animation: java 3s;
}

.cpp {
    width: 75%;
    background-color: var(--neon-color);
    animation: cpp 3s;
}

.python {
    width: 50%;
    background-color: var(--neon-color);
    animation: python 3s;
}

.info p {
    color: var(--neon-color);
    font-size: larger;
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 80%;
    }
}

@keyframes cpp {
    0% {
        width: 0%;
    }

    100% {
        width: 75%;
    }
}

@keyframes python {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}



.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    table {
        height: 100%;
        width: 100%;
    }

    td {
        text-align: center;
        font-size: var(--mobile-font);
        font-weight: 500;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;

    }
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.circular-progress {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: conic-gradient(--neon-color 3.6deg, --bg-color 0deg);
    box-shadow: var(--neon-box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    background-color: var(--second-bg-color);
}

.progress-value {
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

/* service section */

.service{
    
    
    padding-top: 8rem;
    
    background-color: transparent;
    color: white;
    ul{
        list-style: none;
        padding-left: 1rem;
    }
}

.service .content{
    width: 100%;
    

}


.service .content h1{
    font-size: 2.5rem;
    line-height: 3.7rem;
    letter-spacing: 1px;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
    
    
}

.column .card{
    padding: 16px;
    color: var(--text-color);
    border-radius: 30px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    overflow: hidden;
    transition: .6s;
    border: 0.5px solid rgba(255, 255,255, 0.5);
    margin-top: 10px;
    height: 14rem;
}

.column .card:hover{
    color: black;
}

.column .card:hover:after{
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
}

.column .card:after{
    position: absolute;
    content: "";
    height: 40%;
    width: 8%;
    top: 30%;
    right: -4%;
    background-color: var(--neon-color);
    z-index: -1;
    border-radius: 30px;
    transition: .6s;
}

.row-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;

    
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;

    height: 100%;
    

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}




/* project section */

.project {
    background-color: var(--bg-color);

}

.project-column {
    float: left;
    width: 50%;
    padding: 0 10px;
    display: none;
    margin-bottom: 20px;


}

.show {
    display: block;
}

/* Remove extra left and right margins, due to padding */
.project-gallery {
    margin: 0 -5px;
    height: 40rem;
    overflow-y: auto;
    padding-top: 5px;
}

.project-gallery::-webkit-scrollbar {
    width: 5px;

}

.project-gallery::-webkit-scrollbar-track {
    display: none;

}

.project-gallery::-webkit-scrollbar-thumb {
    background: var(--neon-color);
    /* Change the color of the scrollbar thumb */
    border-radius: 5px;
    /* Add rounded corners to the scrollbar thumb */



}




.project-gallery:after {
    content: "";
    display: table;
    clear: both;
}




/* Style the counter cards */
.card {
    position: relative;
    box-shadow: var(--neon-box-shadow);
    height: 18rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    text-align: left;

    background-color: var(--second-bg-color);
    color: black;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    /* Add transition for smoother animation */
    overflow: hidden;
}

.card .image-overlay {
    position: relative;
    overflow: hidden;

}

.card .image-overlay img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.card .image-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover .image-overlay::before {
    opacity: 1;
}

.card:hover .image-overlay img {
    transform: scale(1.1);
    /* Optional: Increase image size on hover */
}

.card .description {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Cover the entire width of the card */
    height: 100%;
    /* Cover the entire height of the card */
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark transparent background */
    color: white;
    padding: 20px;
    text-align: center;
    transition: opacity 0.3s ease;
    opacity: 0;
    /* Initially hidden */

    h2 {
        color: var(--neon-color);
    }

    p {
        font-size: small;
    }
}

.card:hover .description {
    opacity: 1;
    /* Show the description on hover */
}



.card:hover {
    transform: translateY(-5px);
    /* Move the card 5 pixels upwards on hover */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Add a stronger shadow on hover */
}

.card:hover .github-link {
    display: block;
}

.github-link {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--neon-color);
    /* GitHub button color */
    color: var(--bg-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.github-link:hover {

    box-shadow: var(--neon-box-shadow);
}


.myBtnContainer {
    text-align: start;
    margin-bottom: 1rem;
}

.pbtn {

    outline: none;
    padding: 12px 16px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
    color: var(--text-color);

}

.pbtn:hover {

    color: var(--neon-color);
    text-shadow: var(--link-active-text-shadow);
}

.pbtn.active {
    color: var(--neon-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
        0 0 20px rgba(18, 247, 255, 0.6),
        0 0 30px rgba(18, 247, 255, 0.6),
        0 0 40px rgba(18, 247, 255, 0.6),
        0 0 70px rgba(18, 247, 255, 0.6),
        0 0 80px rgba(18, 247, 255, 0.6),
        0 0 100px rgba(18, 247, 255, 0.6),
        0 0 150px rgba(18, 247, 255, 0.6);
}

.contact {
    background: var(--second-bg-color);
}


/* contact section */
.contact form {
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea {
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea {
    resize: none;
}

.formBtn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    cursor: pointer;
    font-size: .9rem;

}

/* footer section */

footer {
    text-align: center;
    font-size: small;
}

/* responsive section */

@media screen and (max-width:1368px) {
    section {
        padding: 0 15%;
    }

    nav {
        padding: 0 15%;
    }


    .home-content h1 {
        font-size: 3rem;
    }

    .change-text {
        font-size: 1.2rem;

    }

    .table-container td {
        font-size: medium;
    }

    .project-column {
        width: 50%;
    }
}

@media screen and (max-width:1184px) {
    section {
        padding: 0 10%;
    }

    nav {
        padding: 0 10%;
    }



}

@media screen and (max-width:1036px) {
    .home-content {
        width: 50%;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .change-text {
        font-size: 1rem;

    }

    nav a {
        padding: 0 15px;
    }



    .skill-main {
        display: block;
    }

    .skill-main h3 {
        font-size: 1.35rem;
    }

    .skills .main-text {
        padding-top: 1rem;
    }


    .table-container {
        margin-top: 50px;

        table {
            margin-bottom: 20px;
        }
    }

    .skill-right h3 {
        margin-top: 3rem;
        margin-bottom: .5rem;
    }

    .project .main-text {
        padding-top: 1rem;
    }







}

@media screen and (max-width:900px) {

    .home-content p {
        font-size: small;
    }

    .center-img {
        text-align: left;
        align-items: start;

    }

    .center-img img {
        display: none;
    }


    .project-column {
        width: 100%;
    }

    #menu-icon {
        display: block;
    }

    .card {
        height: 15rem;
    }
    .service .content h1{
        line-height: 2.3rem;
        font-size: 2.3rem;
    }

    .column{
        width: 100%;
    }
    .service{
        padding-top: 0;
    }

    
}

@media screen and (max-width:800px) {
    .home-image {
        display: none;
    }

    .mobile-img {
        display: block;
    }

    .home-content {
        width: 100%;
    }

    /* .about {
        min-height: auto;
        margin-bottom: 10rem;
    } */

    .project .main-text h2 {

        font-size: 1.8rem;

    }

    .contact .main-text h2 {
        font-size: 1.8rem;
    }

    .pbtn {
        padding: 10px 12px;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    footer {
        font-size: xx-small;
    }
}


@media screen and (max-width:572px) {
    section {
        padding: 0 5%;
    }





    .home-content p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .github-link {
        padding: 5px 15px;

    }

    .pbtn {
        padding: 5px 8px;
        font-size: 12px;
    }
}
@media screen and (max-width:520px) {
    .service .content h1{
        line-height: 2rem;
        font-size: 2rem;
    }
}

@media screen and (max-width:400px) {

    .home-content h1 {
        font-size: 2rem;
        line-height: 1;
    }

    .home-sci {
        width: 120px;

        a {
            font-size: 12px;
        }
    }

    .mobile-img {
        margin-top: 1rem;


    }

    .mobile-img img {
        height: 330px;
    }

    .btn {
        width: 6rem;
        height: 2.5rem;
        font-size: .8rem;
        font-weight: 500;
    }

    .center-img p {
        font-size: var(--mobile-font);
    }

    .skill-left .info {
        font-size: small;
    }

    .card {
        height: 14rem;
    }

    .project-gallery {
        height: 26rem;
        margin-bottom: 20px;
    }

    .project {
        min-height: auto;
    }

    .description h2 {
        font-size: larger;
    }

    .github-link {
        padding: 3px 12px;
        font-size: small;

    }

    .sidebar {
        width: 100%;
    }
}

@media screen and (max-width:346px) {

    .table-container td {
        font-size: small;
    }

    .skill-left .info {
        font-size: smaller;
    }



}

@media screen and (max-width:330px) {
    .circular-progress {
        height: 90px;
        width: 90px;
    }

    .circular-progress::before {
        height: 80px;
        width: 80px;
    }

    .pbtn {
        padding: 3px 5px;
        font-size: 10px;
    }

}

@media screen and (max-width:300px) {
    .mobile-img {
        margin-top: 2rem;
    }

    .mobile-img img {
        width: 200px;
        height: 270px;
    }

    .service .content h1{
        line-height: 1.8rem;
        font-size: 1.8rem;
    }




}